.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*local_settings-py

# Archivos de caché y temporales
__pycache__/
*.pyc
*.pyo
.cache/
.eggs/

# Archivos de configuración de IDEs/editores
.vscode/
.idea/
*.iml
*.pyc
*.pyo
*.pyd
*.bak
*.swp
*.db
*.sqlite3
.pytest_cache/

# Archivos de sistema y configuraciones locales
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de registro y salidas de aplicaciones
logs/
*.log